# numpy_pratice_Session

In [3]:
#import this numpy library
import numpy as np

## Creating an array using numpy

### pactice_1D_ Array

In [18]:
food = np.array(["pakora","samosa", "Raita"]) # food is the variabel and this is ->(["pakora","samosa", "Raita"]) we store in variable food
print(food)

['pakora' 'samosa' 'Raita']

In [5]:
price = np.array([5,5,5])
price

array([5, 5, 5])

In [10]:
#cheak the type
type(price) #this is numy's nd array

numpy.ndarray

In [12]:
type(food)

numpy.ndarray

In [25]:
#lenght
len(food)

3

In [27]:
#indexing
price[2]

5

In [28]:
#if we want to print whol/"pora" arry =>price[0:]
price[0:]

array([5, 5, 5])

In [32]:
food[1]

'samosa'

In [34]:
#how to find mean of any array
price.mean()

5.0

### Range_method

### zeros_method

In [36]:
#zeros_method
np.zeros(6)

array([0., 0., 0., 0., 0., 0.])

In [37]:
#ones 
np.ones(5)

array([1., 1., 1., 1., 1.])

In [38]:
#empty
np.empty(5)

array([1., 1., 1., 1., 1.])

In [41]:
#arange
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [43]:
#specify range
np.arange(2,20)

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [45]:
#specific interval
np.arange(2,20,2)  #(2,20,2) => hum kah rehe hen k 2 se start ho and 20 tak and 2 ka fark se print ho

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [46]:
np.arange(3,21,2)

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19])

In [9]:
#table
np.arange(0,100,10)

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [7]:
#specific line space
np.linspace(1,100,num=50)

array([  1.        ,   3.02040816,   5.04081633,   7.06122449,
         9.08163265,  11.10204082,  13.12244898,  15.14285714,
        17.16326531,  19.18367347,  21.20408163,  23.2244898 ,
        25.24489796,  27.26530612,  29.28571429,  31.30612245,
        33.32653061,  35.34693878,  37.36734694,  39.3877551 ,
        41.40816327,  43.42857143,  45.44897959,  47.46938776,
        49.48979592,  51.51020408,  53.53061224,  55.55102041,
        57.57142857,  59.59183673,  61.6122449 ,  63.63265306,
        65.65306122,  67.67346939,  69.69387755,  71.71428571,
        73.73469388,  75.75510204,  77.7755102 ,  79.79591837,
        81.81632653,  83.83673469,  85.85714286,  87.87755102,
        89.89795918,  91.91836735,  93.93877551,  95.95918367,
        97.97959184, 100.        ])

In [16]:
#specify your data type
np.ones(50, dtype=np.int64)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1], dtype=int64)

### Array functions

In [20]:
#array functions
a=np.array([20,12,15,2,6,100,320,0.5,10.3])
a

array([ 20. ,  12. ,  15. ,   2. ,   6. , 100. , 320. ,   0.5,  10.3])

In [24]:
a.sort() #assinding order men chale jaye ge
a

array([  0.5,   2. ,   6. ,  10.3,  12. ,  15. ,  20. , 100. , 320. ])

In [27]:
b= np.array([12,46,93,12,3,24,4.5])
b

array([12. , 46. , 93. , 12. ,  3. , 24. ,  4.5])

In [30]:
#concatenat (a and b)
np.concatenate((a,b))

array([  0.5,   2. ,   6. ,  10.3,  12. ,  15. ,  20. , 100. , 320. ,
        12. ,  46. ,  93. ,  12. ,   3. ,  24. ,   4.5])

In [32]:
#concatenat 
c= np.concatenate((a,b))
c

array([  0.5,   2. ,   6. ,  10.3,  12. ,  15. ,  20. , 100. , 320. ,
        12. ,  46. ,  93. ,  12. ,   3. ,  24. ,   4.5])

In [35]:
c.sort()
c

array([  0.5,   2. ,   3. ,   4.5,   6. ,  10.3,  12. ,  12. ,  12. ,
        15. ,  20. ,  24. ,  46. ,  93. , 100. , 320. ])

## 2_D_Array
- all the input arrays must have same number of dimensions,

In [37]:
# 2_d array
a=np.array([[1,2,3,4,5],[5,4,3,2,1]])
a

array([[1, 2, 3, 4, 5],
       [5, 4, 3, 2, 1]])

In [47]:
b=np.array([[6,7,12,2,3],[8,9,13,8,6]])
b

array([[ 6,  7, 12,  2,  3],
       [ 8,  9, 13,  8,  6]])

In [48]:
c=np.concatenate((a,b),axis=0) #axis 0
c

array([[ 1,  2,  3,  4,  5],
       [ 5,  4,  3,  2,  1],
       [ 6,  7, 12,  2,  3],
       [ 8,  9, 13,  8,  6]])

In [49]:
c=np.concatenate((a,b),axis=1) #axis 1
c

array([[ 1,  2,  3,  4,  5,  6,  7, 12,  2,  3],
       [ 5,  4,  3,  2,  1,  8,  9, 13,  8,  6]])

In [4]:
x=np.array([[[0, 1, 2, 3],
                           [4,5,6,7]],
             
                          [[0,1,2,3],
                           [5,6,7,8]],
             
                          [[0,1,2,3],
                           [4,5,6,7]]])
x

array([[[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [5, 6, 7, 8]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]]])

In [7]:
#to find the number of dimensions
x.ndim

3

In [9]:
b=np.array([[5,6,7],
           [8,9,10],
           [10,11,12]])
b

array([[ 5,  6,  7],
       [ 8,  9, 10],
       [10, 11, 12]])

In [10]:
b.ndim

2

In [12]:
#x.size mean k number of elements
x.size

24

In [14]:
#shape => hum dekhte hen ke is array men shape konse he
x.shape # 3=dimenssions, 2=rows, 4= columns

(3, 2, 4)

In [27]:
a= np.arange(9) #3*3
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [29]:
#reshape
b.reshape(3,3) # a array ko convert/reshape karo  3 by 3 ke array men
b

array([[ 5,  6,  7],
       [ 8,  9, 10],
       [10, 11, 12]])

In [31]:
#reshape
np.reshape(a, newshape=(1,9), order="C") # order type C

array([[0, 1, 2, 3, 4, 5, 6, 7, 8]])

In [32]:
#conver 1-D into 2-D
a= np.array([1,2,3,4,5,6,7,8,9])# this is 1-D
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [35]:
#now convert into 2-D row wise
b=a[np.newaxis, :]
b

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [36]:
b.shape

(1, 9)

In [38]:
#now convert into 2-D  =>columnwise
c=a[:,np.newaxis,]
c

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [39]:
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
#indexing
a[2:6]

array([3, 4, 5, 6])

In [41]:
#array multiply
a*6

array([ 6, 12, 18, 24, 30, 36, 42, 48, 54])

In [42]:
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [43]:
#sum of array
a+6

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15])

In [45]:
#men of array
a.mean()

5.0